<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
<div class="ui top fixed inverted menu">
    <div class="ui container top">
        <div class="item hedaer"><i class="cubes icon"></i></div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/blogs">Blogs</a>
        <a class="item" href="/blogs/new">New</a>
        <a class="item" href="/">Login</a>
        <a class="item" href="/">Sign-in</a>
    </div>
</div>
<div class="header menu"></div>